.estoque-page {
  width: 100%;
  padding: 40px 60px;
  background-color: #000000;
  min-height: 100vh;
  box-sizing: border-box;
}

.estoque-page h2 {
  margin-bottom: 20px;
  font-size: 26px;
  color: #ffffff;
}

.filtros {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.filtros input {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ffffff;
  width: 250px;
}

.estoque-tabela {
  width: 100%;
  background-color: #fffdfd;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  color: #000000;
}

.estoque-tabela th,
.estoque-tabela td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #696868;
}

.estoque-tabela th {
  background-color: #7e7979;
}

.estoque-tabela tr:hover {
  background-color: #ececec;
}

.estoque-tabela button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #3366FF;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-right: 5px;
}

.estoque-tabela .btn-remove {
  background-color: red;
}
